.ol-button {
  display: inline-flex;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.ol-button .ol-button_inner {
  height: 24px;
  line-height: 24px;
  display: inline-flex;
}
.ol-button.ol-button-primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.ol-button.ol-button-primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.ol-button.ol-button-primary:active {
  background-color: #106dab;
}
.ol-button.ol-button-success {
  color: #fff;
  background-color: #00b42a;
  border-color: #00b42a;
}
.ol-button.ol-button-success:hover {
  color: #fff;
  background-color: #23c343;
}
.ol-button.ol-button-success:active {
  background-color: #1e7800;
}
.ol-button.ol-button-warning {
  color: #fff;
  background-color: #ff7d00;
}
.ol-button.ol-button-warning:hover {
  background-color: #ff9a2e;
}
.ol-button.ol-button-warning:active {
  background-color: #d25f00;
}
.ol-button.ol-button-danger {
  color: #fff;
  background-color: #f53f3f;
}
.ol-button.ol-button-danger:hover {
  background-color: #f76560;
}
.ol-button.ol-button-danger:active {
  background-color: #981812;
}
